storage/
.env
bootstrap/
composer.lock

/bootstrap/compiled.php
/vendor
node_modules
bower_components
composer.phar
error_log
.DS_Store
.idea
.vscode
.env
.env.*.php
.env.php
.vscode
php_errors.log
php-errors.log
sftp-config.json
selenium.php

/storage/debugbar
_ide_helper.php
/storage/framework/cachetesting/
/storage/framework/services.json
/storage/cms/disabled.json
config/debugbar.php
phpunit.phar